body {
  height: 100%;
  background: rgb(0, 0, 0);
  background: url('../images/black-chrome-gradient-ui-gradient-background(long).jpg') rgb(255, 255, 255);
  background: url('../images/black-chrome-gradient-ui-gradient-background(long).jpg') rgb(255, 255, 255);
  background-size: auto auto;
  background-position: left top;
  font: 400 1.25em/1.38 Helvetica;
  color: rgb(31, 29, 29);
}

.text {
  float: left;
  width: 27.1666666666%;
  min-height: 48px;
  margin: 34px 0 0 36.41927%;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .5);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 12px;
  color: rgb(31, 29, 29);
}

.text:active,
.text:hover {
  text-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

._button {
  display: block;
  float: left;
  width: 8.4192708333%;
  height: 26px;
  margin: 34px 0 0 12.82943%;
  border-radius: 3px;
  background-color: rgb(31, 29, 29);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  font-size: 0.6em;
  font-weight: 700;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(255, 255, 255);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

table{
	width: 80%;
	border-spacing: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:black;
}

td, th {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
}


tr:nth-child(even){background-color: #ffffff;}

tr:nth-child(odd){background-color: #ffffff;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
}


::placeholder {
  color: black;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}